body {
	background-color: #dbedff;
	font-family: 'M PLUS 1p', sans-serif;
	margin: 0;
}

.about_wrap {
	background-color: #fff;
	margin: 0.5rem;
	padding: 1rem;
}

.text_contents_area {
	background-color: #efefff;
	border-radius: 6px;
	margin-top: 1rem;
	margin-right: 0;
	flex: 1;
}

.agreement_wrap {
	background-color: #fff;
	border-radius: 8px;
	box-sizing: border-box;
	margin: 1rem;
	margin-bottom: 0;
	padding: 1rem 2rem;
	width: calc(100% - 2rem);
}
.agreement_wrap h1 {
	color: #222;
	font-size: 1.6rem;
	margin-bottom: 1rem;
	text-align: center;
}
.agreement_wrap h2 {
	color: #222;
	font-size: 1.2rem;
	margin-top: 1rem;
}
.agreement_wrap p, .agreement_wrap li {
	font-size: 0.8rem;
	line-height: 1.8rem;
	letter-spacing: 3px;
}
button {
	cursor: pointer;
}
.header_logo_wrap {
	margin-bottom: 1rem;
}
.header_logo_wrap:hover {
	opacity: 0.6;
}
.header_logo_wrap h1 {
	font-size: 1.4rem;
}
.header_logo_wrap p {
	font-size: 11px;
}

.header_search_word_form_wrapper {
	background-color: #fff;
	padding: 0.5rem 0;
	margin: 0;
	width: 100%;
}

.header_search_word_form_wrapper form {
	margin: 0;
}
.header_search_word_form_wrapper input {
	border: 1px solid #aaa;
	border-radius: 3px 0 0 3px;
	box-sizing: border-box;
	padding: 0 0.5rem;
	font-size: 16px;
	height: 2rem;
	margin-left: 1rem;
	text-indent: 0.5rem;
	width: 400px;
}
.header_search_word_form_wrapper button {
	background-color: #fff;
	border: 1px solid #aaa;
	border-left: none;
	border-radius: 0 3px 3px 0;
	box-sizing: border-box;
	height: 2rem;
	margin-right: 1rem;
	transform: translateX(-2px);
	width: 3rem;
}


.color_lb { color: #333;}
.color_lb2 { color: #777;}
.color_gr { color: green;}
.color_bl { color: #44f;}
.color_cy { color: cyan;}
.color_fg { color: #8da0b6;}
.color_co { color: #6e4a55;}
.color_wh { color: #eee;}
.center {
	align-items: center;
	display: flex;
	justify-content: center;
}
.column {
	display: flex;
	flex-direction: column;
}

.create_thread_area i {
	margin-right: 0.5rem;
}

.create_thread_area button {
	background-color: #333;
	border-style: none;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	font-size: 1.4rem;
	height: 3rem;
	margin-top: 1rem;
	width: 100%;
}
.create_thread_area button>i {
	padding-left: 0.5rem;
}
.create_thread_area button:hover {
	opacity: 0.8;
}
.create_thread_area input[type=text]{
	border-radius: 4px;
	height: 1.4rem;
	margin-bottom: 0.5rem;
	width: 60%;
}
.create_thread_area textarea {
	border-radius: 4px;
	margin-bottom: 0.5rem;
	height: 24rem;
	width: 80%;
}
.create_thread_area form {
	background-color: #eee;
	padding: 1rem;
}

.bad_btn {
	/*
	background-color: #fff;
	*/
	border: none;
	border-style: none;
	cursor: pointer;
	padding: 0;
	padding-left: 1rem;
	padding-right: 0.2rem;
}
.good_btn {
	/*
	background-color: #fff;
	*/
	border: none;
	border-style: none;
	cursor: pointer;
	padding: 0;
	padding-left: 0.5rem;
	padding-right: 0.2rem;
}
.good_btn:hover {
	color: #00f;
}
.bad_btn:hover {
	color: #f00;
}

.require {
	background-color: red;
	border-radius: 5px;
	color: #fff;
	font-size: 1rem;
	padding: 0 0.5rem;
}

.optional {
	background-color: #00ff7f;
	border-radius: 5px;
	color: #131;
	font-size: 1rem;
	padding: 0 0.5rem;
}

.select_category_list li {
	margin: 0.5rem 0;
}
.show_upload_img {
	width: 200px;
}
.show_upload_img img {
	width: 100%;
}

h1 { margin: 0;}
h2 { margin: 0;}
h3 { margin: 0;}
h4 { margin: 0;}
h5 { margin: 0;}
h6 { margin: 0;}
p { margin: 0;}
/* ul { margin: 0; padding:0; list-style-type: none;} */
li { margin: 0; padding:0;}
a { text-decoration: none;}

/* フォント関連 */
.fs_8 { font-size: 8px;}
.fs_9 { font-size: 9px;}
.fs_10 { font-size: 10px;}
.fs_11 { font-size: 11px;}
.fs_12 { font-size: 12px;}
.fs_13 { font-size: 13px;}
.fs_14 { font-size: 14px;}
.fs_15 { font-size: 15px;}
.fs_16 { font-size: 16px;}
.fs_17 { font-size: 17px;}
.fs_18 { font-size: 18px;}
.fs_19 { font-size: 19px;}
.fs_20 { font-size: 20px;}
.fs_21 { font-size: 21px;}
.fs_22 { font-size: 22px;}
.fs_23 { font-size: 23px;}
.fs_24 { font-size: 24px;}
.fs_25 { font-size: 25px;}
.fs_26 { font-size: 26px;}
.fs_27 { font-size: 27px;}
.fs_28 { font-size: 28px;}
.fs_29 { font-size: 29px;}
.fs_30 { font-size: 30px;}

.fw_normal { font-weight: normal;}
.fw_bold { font-weight: bold;}
.fw_100 { font-weight: 100;}
.fw_200 { font-weight: 200;}
.fw_300 { font-weight: 300;}
.fw_400 { font-weight: 400;}
.fw_500 { font-weight: 500;}
.fw_600 { font-weight: 600;}
.fw_700 { font-weight: 700;}
.fw_800 { font-weight: 800;}

/* フレックスレイアウト */

.row {
	display: flex;
	flex-direction: row;
}
.end {
	justify-content: flex-end;
}
.between {
	align-items: space-between;
	justify-content: space-between;
}
.wrap {
	flex-wrap: wrap;
}

.err {
	color: #f00;
	font-size: 13px;
}

.not_found {
	margin: 2rem 0;
}

header, footer {
	background-color: #001e33;
	padding: 0.5rem 0;
	padding-bottom: 0;
}
.header_logo_wrap a:hover {
	opacity: 0.8;
}
footer {
	padding: 1.5rem 0;
}
footer li {
	padding: 0.2rem;
	color: #fff;
}
footer ul {
	color: #fff;
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

.footer_item {
	margin-bottom: 1rem;
}

.jump_create_thread_wrap {
	margin-bottom: 1rem;
}
#jump_create_thread_form {
	display: block;
	width: 100%;
}
.jump_create_thread {
	background-color: #333;
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
	color: #fff;
	padding: 1rem;
	width: 100%;
}
.jump_create_thread:hover {
	opacity: 0.8;
}
.jump_create_thread i {
	font-size: 1.5rem;
	margin-left: 0.5rem;
}

nav {
	background-color: #fff;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 1rem;
	width: 100%;
}

nav ul {
	 list-style-type: none; 
	 margin: 0; 
	 padding:0; 
}

.select_category_list a:hover {
	background-color: #aaa;
	color: #fff;
}

nav form {
	border-bottom: 1px dotted #444;
	padding-bottom: 1rem;
}
nav input {
	border: 1px solid #aaa;
	border-radius: 3px 0 0 3px;
	box-sizing: border-box;
	flex: 1;
	font-size: 16px;
	height: 2rem;
	text-indent: 0.5rem;
}
nav button {
	border: 1px solid #aaa;
	border-radius: 0 3px 3px 0;
	box-sizing: border-box;
	height: 2rem;
	transform: translateX(-2px);
}

nav h3 {
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

.create_thread_area {
	background-color: #fff;
	margin: 1rem 0;
	padding: 1rem;
	order: 2;
	/*
	-webkit-box-ordinal-group:-1;
	-ms-flex-order:-1;
	-webkit-order:-1;
	*/
}

.search_area {
	background-color: #fff;
	margin-top: 1rem;
	padding: 1rem;
}

.each_thread:hover {
	background-color: #f9f4ff;
	cursor: pointer;
	/*
	opacity: 0.6;
	*/
}

.thread_area {
	background-color: #fff;
	border-radius: 4px;
	margin: 0.5rem;
	/*
	margin-bottom: 0;
	*/
	padding: 1rem;
	flex: 1;
	flex-basis: 100%;
}

.reply_form button {
	width: 100%;
}

.thread h2 {
	background-color: #fff3b8;
	border-radius: 6px;
	padding: 0.5rem;
	margin-bottom: 1rem;
}

.thread_left {
	width: 70px;
}
.thread_left img {
	border-radius: 4px;
	height: 70px;
	vertical-align: bottom;
	width: 100%;
}

.thread_right {
	flex: 1;
	padding-left: 0.5rem;
}
.thread_right h3 {
	color: #c71585;
	padding-left: 0.1rem;
}

.thread_right button {
	background-color: #ccc;
	border-style: none;
	border-radius: 4px;
	color: #444;
	cursor: pointer;
	font-size: 18px;
	font-weight: 600;
	height: 2rem;
}
.thread_right button:hover {
	opacity: 0.8;
}

.text_and_vote {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.each_page_link {
	margin: 1rem 0;
	box-sizing: border-box;
}

.each_thread {
	border-bottom: 1px solid #ddd;
	padding: 0.8rem 0;
	/*
	margin-bottom: 0.8rem;
	padding-bottom: 0.8rem;
	*/
}
.thread h3 {
	letter-spacing: 0.1rem;
}
.thread img {
	max-width: 100%;
	height: auto;
}

.thread_contents {
	/*
	height: 100%;
	*/
}
.thread_body {
	padding-left: 0.2rem;
	font-size: 24px;
	color: #006a6c;
}

.hot_topics_area {
	background-color: #fff;
	border-radius: 4px;
	padding: 1rem;
	margin-bottom: 1rem;
}
.hot_topics_area h2{
	border-bottom: 1px dotted #444;
	margin-bottom: 1rem;
}

.page p {
	margin-bottom: 0.5rem;
}
.page {
	margin-bottom: 1rem;
}

.page_number {
	background-color: #eee;
	border-radius: 4px;
	height: 2rem;
	margin-right: 5px;
	width: 2rem;
}

.page_number_wrap {
	display: none;
}
.current_page .center {
	background-color: #aaa;
}
.next_page_wrap, .prev_page_wrap {
	width: 6rem;
}
.next_page_link {
	/* display: inline-block; */
	width: 100%;
}
.next_page, .prev_page {
	background-color: #c0c0c0;
	border-radius: 4px;
	height: 2rem;
}
.prev_page_link {
	width: 100%;
}
.space .center {
	background-color: #fff;
}

.page_numbers a {
	color: #000;
}

.vote_color {
}

.reply_area {
	margin-top: 2rem;
}
.reply_body {
	letter-spacing: 0;
	font-size: 1rem;;
	line-height: 1rem;
	font-family: 'ＭＳ Ｐゴシック','MS PGothic',RobotoJAA,Monapo,'IPA モナー Pゴシック',IPAMonaPGothic,Mona,'梅Pゴシック',Textar,aahub_light,sans-serif !important;
	/*
	letter-spacing: 0;
	margin: 0.5em auto;
	width:80%;
	border-style: solid;
	border-width: 1px;
	border-color: #f1f1f1;
	background-color: #fffaf4;
	*/
}
.reply_form {
	background-color: #ddd;
	padding: 1rem;
}
.reply_area textarea {
	box-sizing: border-box;
	height: 10rem;
	width: 100%;
}

.reply_input_wrap {
	width: 100%;
	margin-bottom: 1rem;
}

.reply_form button {
	background-color: #222;
	border-style: none;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	height: 2rem;
	margin-top: 1rem;
}
.reply_form button:hover {
	opacity: 0.6;
}

.thread_body img {
	height: auto;
}

.replies {
	margin-bottom: 3rem;
}

.each_reply {
	margin-bottom: 1rem;
}
.thread_vote {
	align-self: center;
	background-color: #eeeeff;
	border-radius: 8px;
	margin-top: 2rem;
	padding: 0.5rem;
}
.thread_vote_area {
	width: 200px;
	/*
	align-self: flex-end;
	*/
}

.bad_btn_wrapper i {
	background-color: #eeeeff;

}
.good_btn_wrapper i {
	background-color: #eeeeff;
}
.each_reply .good, .each_reply .bad{
	user-select:none;
	-webkit-user-select:none;
	-ms-user-select: none;
	-moz-user-select:none;
	-khtml-user-select:none;
	-webkit-user-drag:none;
	-khtml-user-drag:none;
}

.side_wrap {
	margin: 1rem;
}

.side {
	max-width: 18rem;
}

.sort {
	margin-bottom: 0.5rem;
}

.sort select {
	padding: 0.2rem 0;
}

#sort_section {
	background-color: #eee;
	border-radius: 4px;
	margin-bottom: 1rem;
}

.sort_form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.5rem;
}

.sort_button_wrap {
	border-top: 1px dashed #999;
}

.sort_button {
	margin-top: 0.5rem;
	width: 100%;
}

.sort_wrap {
	display: flex;
	flex-direction: column;
}

.sort_wrap select {
	margin-right: 1rem;
}	

.main_contents {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.container {
	width: 100%;
}
.contact_form {
	width: 100%;
}
.contact_form_wrap {
	background-color: #fff;
	border-radius: 8px;
	box-sizing: border-box;
	margin: 1rem;
	padding: 1rem;
	width: calc(100% - 2rem);
}
.contact_form_wrap h2 {
	font-size: 1.2rem;
	margin-bottom: 3rem;
}

.contact_form input ,
.contact_form textarea {
	border-radius: 4px;
	border-style: none;
	border: 1px solid #00a1e9;
	box-sizing: border-box;
	text-indent: 0.5rem;
	margin-top: 0.2rem;
	width: 100%;
}
.contact_form input {
	height: 1.8rem;
}

.input_wrap {
	margin-bottom: 2rem;
}

.send_contact_button:hover {
	opacity: 0.4;
}
.send_contact_button {
	background-color: #3f3a3f;
	border-radius: 10px;
	border-style: none;
	color: #eae1cf;
	font-size: 1rem;
	height: 3rem;
}

/* ここからPCビュー */
@media screen and (min-width: 801px) 
{
	.header_logo_wrap h1 {
		font-size: 1.8rem;
	}
	.header_logo_wrap p {
		font-size: 12px;
	}
	.header_search_word_form_wrapper {
		align-items: center;
		display: flex;
		justify-content: center;
		margin: 0;
	}
	.main_contents {
		flex-direction: row;
		justify-content: space-between;
		order: 1;
	}
	.container {
		width: 1000px;
	}
	.create_thread_area button {
		font-size: 1.8rem;
	}
	.page_number_wrap {
		display: flex;
	}
	.sort {
		margin-bottom: 0;
	}
	.sort_wrap {
		flex-direction: row;
	}
	.sort_form {
		flex-direction: row;
	}
	.sort_button {
		margin: 0;
	}
	.sort_button_wrap {
		border-style: none;
	}
	.thread_right {
		padding-left: 1rem;
	}
	.thread {
		margin-bottom: 1rem;
		padding-bottom: 1rem;
	}
	.thread_area {
		margin: 1rem 0;
	}
	body {
		background-color: #dbedff;
	}
	nav {
	}
	.side_wrap {
		margin: 0;
		margin-left: 1rem;
		margin-top: 1rem;
		width: 18rem;
	}
	.side {
		width: 18rem;
		max-width: 18rem;
		margin-bottom: 1rem;
	}
	.sticky {
		position: -webkit-sticky;
		position: sticky;
		bottom: 0;
		align-self: flex-end;
	}
	.thread_vote {
		align-self: flex-start;
		margin-top: 1rem;
	}
	.text_and_vote {
		flex-direction: row;
	}
	.text_contents_area {
		margin-right: 1rem;
	}
}/* ここまでPCビュー */
